 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #3f0101;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#arrayDisplay {
    font-size: 1.5rem;
    color: #e70404;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:focus {
    outline: none;
}

canvas {
    border: 1px solid #333;
    width: 98%;
    height: 73vh;
    background-color: #f9fac9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

